.headerContainer {
  background: var(--white);
  height: 4.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--gray-100);

  @media (min-width: 768px) {
    padding: 2rem 4rem;
    height: 6.5rem;
  }

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
  }

  p,
  span {
    display: none;

    @media (min-width: 1200px) {
      display: unset;
    }
  }
}