.playerContainer {
  padding: 1rem;
  width: 100%;
  height: 140px;

  background: var(--purple-500);
  color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  @media (min-width: 768px) {
    height: 100px;
    padding: 1rem 2rem;
    flex-direction: row;
  }

  @media (min-width: 1200px) {
    align-items: center;
    height: 100vh;
    width: 26.5rem;
    padding: 3rem 4rem;
    flex-direction: column;
    gap: unset;
  }

  header {
    display: none;
    align-items: center;
    gap: 1rem;

    @media (min-width: 1200px) {
      display: flex;
    }
  }

  strong {
    font-family: Lexend, sans-serif;
    font-weight: 600;
  }

  footer {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: 1200px) {
      max-width: 330px;
      max-width: auto;
      flex: unset;
    }

    &.empty .progress {
      opacity: 0.5;
    }
  }
}

.currentEpisode {
  text-align: center;
  display: flex;
  gap: 1rem;
  align-items: center;

  @media (min-width: 1200px) {
    display: unset;
    gap: unset;
    align-items: unset;
  }

  img {
    border-radius: 1.5rem;
    width: 4rem !important;
    height: 4rem !important;
    display: none !important;

    @media (min-width: 768px) {
      display: unset !important;
    }

    @media (min-width: 1200px) {
      width: unset !important;
      height: unset !important;
    }
  }

  strong {
    display: block;
    font: 600 0.875rem Lexend, sans-serif;
    line-height: 1.3rem;
    max-width: 352px;
    overflow: hidden;
    text-align: center;


    @media (min-width: 768px) {
      text-align: left;
    }

    @media (min-width: 1200px) {
      margin-top: 2rem;
      max-width: unset;
      text-align: unset;
      line-height: 1.75rem;
      font: 600 1.25rem Lexend, sans-serif;
    }
  }

  span {
    display: block;
    margin-top: 1rem;
    opacity: 0.6;
    line-height: 1.5rem;
  }

  span:nth-of-type(2) {
    display: none;

    @media (min-width: 1200px) {
      display: unset;
    }
  }
}

.emptyPlayer {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border: 1.5px dashed var(--purple-300);
  border-radius: 1.5rem;
  background: linear-gradient(143.8deg, rgba(145, 100, 250, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  display: none;

  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    display: flex;
  }

  &>strong {
    display: none;
  }

  @media (min-width: 1200px) {
    width: 100%;
    height: 20rem;
    padding: 4rem;
    overflow: unset;

    &>strong {
      display: block;
    }
  }
}

.progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;

  span {
    display: inline-block;
    width: 4rem;
    text-align: center;
  }

  .slider {
    flex: 1;
  }

  .emptySlider {
    width: 100%;
    height: 4px;
    background: var(--purple-300);
    border-radius: 2px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1.5rem;

  @media (min-width: 1200px) {
    margin-top: 2.5rem;
  }

  button {
    background: transparent;
    border: 0;
    font-size: 0;
    transition: filter 0.2s;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:hover:not(:disabled) {
      filter: brightness(0.7);
    }

    &.isActive {
      filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.isActive:hover {
      filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.playButton {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 1rem;
      background: var(--purple-400);

      @media (min-width: 768px) {
        width: 2rem;
        height: 2rem;
      }

      &:hover:not(:disabled) {
        filter: brightness(0.95);
      }

      @media (min-width: 1200px) {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}